:root{
   --task-color:white;
   --task-bg:black;
   --bg-tasks-color:hsl(235, 21%, 11%);
}


body{
   background-color: #333;
   font-size: 16px;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;

}

.container{
   width:60%;
   margin: 0 auto;
}

@media(max-width:767px){
  .container{
     width: 80%;
     margin: 0 auto;
  }
}

/* @media(max-width:573px){
  .container{
     width: 90%;
     margin: 0 auto;
  }
} */

header{
   width: 100%;
   background-image: url("./images/bg-desktop-dark.jpg");

}
header .container{
   padding: 30px 0;
}

.header-items{
      display: flex;
      justify-content: space-between;
      align-items: center;

}

.todos{
   width: 100%;
   background-color: var(--bg-tasks-color);
   padding-top:10px;
   min-height: 70vh;
}
